*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    max-width: 1980px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

img{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.images{
    width: 400px;
    height: 500px;
    margin: 0 auto;
}

.carusel__img{
    width: 600px;
    height: 700px;
    margin: 20px auto;
    text-align: center;
    padding-top: 30px;
}

.carusel__img img{
    text-align: center;
    margin: 0 auto;
}

.fade {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.carusel__options{
    width: 150px;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    margin: 20px auto;
}

.carusel__options img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    outline: 1px solid dodgerblue;
}

.change{
    width: 60px;
    height: 60px;
    background: black;
    padding: 40px;
    border-radius: 50%;
}

.aluka{
    background: blue;
}

.aluka2{
    background: pink;
}

.aluka3{
    background: white;
    border: 1px solid dodgerblue;
}


.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 100px;
}

.add-btn-container {
    text-align: center;
    margin-top: 30px;
}

.add-btn {
    padding: 10px 25px;
    font-size: 18px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.add-btn:hover {
    background: #218838;
}


.cards {
    width: 400px;
    border: 1px solid red;
    position: relative;
    padding-top: 200px;
    padding-bottom: 40px;
    text-align: center;
    margin-top: 60px;
}

.cards .cards_img {
    width: 270px;
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    top: -60px;
    left: 60px;
}

.cards .cards_txt h2 {
    padding: 10px 0 15px;
    font-size: 42px;
}

.cards .cards_txt p {
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
}

.cards .cards_btn {
    padding: 16px 35px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    background: dodgerblue;
    color: white;
    cursor: pointer;
}
